.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.top-buffer { margin-top:20px; }

/* Egendefinert header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

/* Overskriver noen default-verdier i navigasjonen */
.navbar-default {
    background-color: #0F90FA;
    border-color: #E7E7E7;
}

.navbar-default .navbar-brand {
    color: #FFF;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

/* video */
#video {
  width: 100%;
  height: 100%;
  max-height: 500px;
}

/* Box with subtitles */
#captionBox {
  height: 500px;
  width: 100%;
  overflow: auto;
  padding: 20px;
}

/* Controls */
.controls {
  background: #73bffc;
  color: #000;
  width: 100%;
}

.controlsBox {
  padding: 15px;
  width: 100%;
  background: #8ccafd;
}

/* Star rating */
.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.star-rating > .star {
   padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}

.star.filled {
  color: #fd0;
}

/* Video sequence items */
.list {
	list-style: none outside none;
	margin: 10px 0 30px;
    padding: 0;
}

.item {
	width: 100%;
	padding: 5px 10px;
	margin: 5px 0;
	border: 2px solid #444;
	border-radius: 5px;
	background-color: #EA8A8A;

	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	cursor: move;
}

/* Class alternate */
.row.alternate:nth-child(even) {
	background-color: #eee; /* Class row and alternate, all even rows will have this color */
}

/* Search field */

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Customazation of button */
.customBtn {
  margin: 0;
  border: 0 transparent;
}

/* Styles for active nav. button */
.activeState {
  background-color: black;
  color: red;
}

/* Removing resizing from textareas */
textarea {
   resize: none;
}

/* Custom page footer */
.footer {
  margin-top: 40px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
