<div class="row">
  <div class="col-md-5">
   
    <h2>Admin Overview</h2>
    <!-- Tabell over alle administratorer -->
    <table class="table table-bordered table-striped" ng-show="admins">
      <thead>
        <tr>
          <td>Full name</td>
          <td>Email</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="admin in admins">
          <td>{{admin.givenname}}</td>
          <td>{{admin.email}}</td>
        </tr>
      </tbody>
    </table>
       
  </div><!-- end-/col-md-5 -->
  <div class="col-md-7">
   
    <!-- Oversikt over alle brukerne -->
    <h2>User overview</h2>
    <div ng-if="users">
      <div class="alert alert-info">
        <p>Sort Type: {{ sortType }}</p>
        <p>Sort Reverse: {{ sortReverse }}</p>
        <p>Search Query: {{ searchUser }}</p>
      </div>
      <!-- Tabell som inneholder oversikt over alle brukerne -->
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <td>
              <a ui-sref="admin" ng-click="sortType = 'givenname'; sortReverse = !sortReverse">
              Full name
              <span ng-show="sortType == 'givenname' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'givenname' && sortReverse" class="fa fa-caret-up"></span>
             </a>
            </td>
            <td>
              <a ui-sref="admin" ng-click="sortType = 'totalVideos'; sortReverse = !sortReverse">
              <span ng-show="sortType == 'totalVideos' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'totalVideos' && sortReverse" class="fa fa-caret-up"></span>
              Videos (num.)
              </a>
            </td>
            <td>
              <a ui-sref="admin" ng-click="sortType = 'totalPlaylists'; sortReverse = !sortReverse">
              <span ng-show="sortType == 'totalPlaylists' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'totalPlaylists' && sortReverse" class="fa fa-caret-up"></span>
              Playlists (num.)
              </a>
            </td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users | orderBy:sortType:sortReverse">
            <td>{{user.givenname}} {{user.surname}} </td>
            <td>{{user.totalVideos}}</td>
            <td>{{user.totalPlaylists}}</td>
            <td>
              <button class="btn btn-danger" ng-click="(deleteUser(user.id))">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
  <!-- Om det ikke finnes noen brukere vises denne beskjeden -->
  <h4 ng-show="noUsersMsg">{{noUsersMsg}}</h4>
      
  <h2>Promote User</h2>
  <form ng-if="users">
   <div class="form-group">
    <select class="form-control" ng-model="item">
      <option value="">---Select User---</option> <!-- not selected / blank option -->
      <option ng-repeat="user in users" value="{{user.id}}">{{user.givenname}}</option>
    </select>
   </div>
    <div class="form-group">
      <button class="btn btn-primary" ng-click="promoteUser(item)">Promote</button>
    </div>
  </form>
  <!-- Om det ikke finnes noen brukere vises denne beskjeden -->
  <h4 ng-show="noUsersMsg">{{noUsersMsg}}</h4>
      
  </div>
</div>
