<div class="row">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        Choose a playlist to alter
      </div>
      <div class="panel-body">
        <form>
          <div class="form-group">
            <label for="edit playlist"></label>
            <select class="form-control" ng-model="item" ng-change="update(item)">
              <option value="">---Select Playlist---</option> <!-- not selected / blank option -->
              <option ng-repeat="myPlaylist in myPlaylists" value="{{myPlaylist.pId}}">{{myPlaylist.title}}</option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div>
     
      <!-- Form for endring av tittel og beskrivelse av spilleliste -->
      <div class="panel panel-default">
        <div class="panel-heading">
          Edit playlist
        </div>
        <div class="panel-body">
          <form name="uploadForm" ng-submit="editPlaylist(editPlaylistValues[0])" role="form">
            <div class="form-group" ng-class="{ 'has-error': uploadForm.title.$dirty && uploadForm.title.$error.required }">
              <label for="title">Name</label>
              <input type="text" name="title" id="title" class="form-control" ng-model="editPlaylistValues[0].title" required />
              <span ng-show="uploadForm.title.$dirty && uploadForm.title.$error.required" class="help-block">Title is required</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error': uploadForm.description.$dirty && uploadForm.description.$error.required }">
              <label for="description">Description</label>
              <textarea name="description" id="description" class="form-control" ng-model="editPlaylistValues[0].description" style="height: 100px;" required></textarea>
              <span ng-show="uploadForm.description.$dirty && uploadForm.description.$error.required" class="help-block">Description is required</span>
            </div>
            <div class="form-actions">
                <button type="submit" ng-disabled="uploadForm.$invalid" class="btn btn-danger">Edit Changes</button>
              <a ui-sref="main">Cancel</a>
            </div>
          </form>
        </div>
      </div>
      
      <!-- Form for endring av rekkefølge på videoer i spilleliste -->
      <div class="panel panel-default">
        <div class="panel-heading">
          Change video sequence
        </div>
        <div class="panel-body">
         <form>
           <ul ui-sortable="sortableOptions" ng-model="allVideos" class="list">
            <li ng-repeat="item in allVideos" class="item">{{ item.title }}</li>
          </ul>
         </form>
        </div>
      </div>
      
    </div>
    
  </div>
</div>