<!-- Om du ikke beholder verdiene som var der fra før er det ikke redigering -->
<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Edit Video</h3>
    </div>
    <div class="panel-body">
      <form name="uploadForm" ng-submit="editVideo(currentVideoData[0])" role="form">
        <div class="form-group" ng-class="{ 'has-error': uploadForm.title.$dirty && uploadForm.title.$error.required }">
          <label for="title">Name</label>
          <input type="text" name="title" id="title" class="form-control" ng-model="currentVideoData[0].title" required />
          <span ng-show="uploadForm.title.$dirty && uploadForm.title.$error.required" class="help-block">Title is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': uploadForm.description.$dirty && uploadForm.description.$error.required }">
         <label for="description">Description</label>
         <textarea name="description" id="description" class="form-control" style="height: 100px;" ng-model="currentVideoData[0].description" required></textarea>
         <span ng-show="uploadForm.description.$dirty && uploadForm.description.$error.required" class="help-block">Description is required</span>
        </div>
        <div class="form-actions">
          <button type="submit" ng-disabled="uploadForm.$invalid" class="btn btn-danger">Edit Changes</button>
          <a ui-sref="main">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>