 <div class="col-md-6 col-md-offset-3">
   <div class="alert alert-info">
    Username: test@test.com<br />
    Password: test
  </div>
  
  <div ng-show="error" class="alert alert-danger">{{error}}</div>
  <div ng-show="success" class="alert alert-success">{{success}}</div>
  <h2>Login</h2>
  <form name="form" ng-submit="login(credentials)" role="form">
    <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
      <label for="email">Email</label>
      <i class="fa fa-key"></i>
      <input type="email" name="email" id="email" class="form-control" ng-model="credentials.email" required />
      <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
      <label for="password">Password</label>
      <i class="fa fa-lock"></i>
      <input type="password" name="password" id="password" class="form-control" ng-model="credentials.password" required />
      <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
    </div>
    <div class="checkbox">
      <label><input type="checkbox">Remember me</label>
    </div>
    <div class="form-actions">
      <button type="submit" ng-disabled="form.$invalid" class="btn btn-danger">Login</button>
      <a ui-sref="register" class="btn btn-link">Register</a>
    </div>
   </form>
</div>