 <div class="row">
   <div class="col-md-5">
     <div class="input-group stylish-input-group">
      <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
        <span class="input-group-addon">
          <button type="submit">
            <span class="glyphicon glyphicon-search"></span>
          </button>  
        </span>
    </div>
   </div>
 </div>
 <div class="row top-buffer">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        My videos
      </div>
      <div class="panel-body">
        <div class="row alternate">
          <div class="col-xs-9">
            <div ng-show="message1">
              <h4>{{message1}}</h4>
            </div>
            <div ng-repeat="myVideo in myVideos | filter:searchText">
             <a ui-sref="video({ videoID: myVideo.vId })">
              <h4>{{myVideo.title}}</h4>
              <img style="width: 100%;" ng-src="images/{{myVideo.thumbnail}}" alt="">
              </a>
              <p>{{myVideo.description}}</p>
              <small>{{myVideo.ts}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        My playlists
      </div>
      <div class="panel-body">
        <div class="row alternate">
          <div class="col-xs-9">
           <div ng-show="message3">
              <h4>{{message3}}</h4>
            </div>
            <div ng-repeat="myPlaylist in myPlaylists | filter:searchText">
              <a ui-sref="playlist({playlistID: myPlaylist.pId, videoID: myPlaylist.vId})">
                <h4>{{myPlaylist.title}}</h4>
              </a>
              <p>{{myPlaylist.description}}</p>
              <small>{{myPlaylist.ts}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        New videos
      </div>
      <div class="panel-body">
        <div class="row alternate">
          <div class="col-xs-9">
           <div ng-show="message2">
              <h4>{{message2}}</h4>
            </div>
            <div ng-repeat="newVideo in newVideos | filter:searchText">
              <a ui-sref="video({ videoID: newVideo.vId })">
              <h4>{{newVideo.title}}</h4>
              <img style="width: 100%;" ng-src="images/{{newVideo.thumbnail}}" alt="">
              </a>
              <p>{{newVideo.description}}</p>
              <small>{{newVideo.ts}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        Popular Videos
      </div>
      <div class="panel-body">
        <div class="row alternate">
          <div class="col-xs-9">
           <div ng-show="message4">
              <h4>{{message4}}</h4>
            </div>
            <div ng-repeat="pouplarVideo in popularVideos | filter:searchText">
              <a ui-sref="video({ videoID: pouplarVideo.vId })">
              <h4>{{pouplarVideo.title}}</h4>
              <img style="width: 100%;" ng-src="images/{{pouplarVideo.thumbnail}}" alt="">
              </a>
              <p>{{pouplarVideo.description}}</p>
              <small>{{pouplarVideo.ts}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>