<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="main">SingleTube</a>
      </div>
      <div class="collapse navbar-collapse" id="js-navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
          <li ng-if="isAuthorized([userRoles.admin, userRoles.student])">
            <a ui-sref="main">Home</a>
          </li>
          <li ng-if="isAuthorized(userRoles.admin)">
            <a ui-sref="admin">CMS</a>
          </li>
          <li ng-if="isAuthorized([userRoles.admin, userRoles.student])">
            <a ui-sref="uploadVideo">Upload Video</a>
          </li>
          <li ng-if="isAuthorized([userRoles.admin, userRoles.student])">
            <a ui-sref="createPlaylist">Create Playlist</a>
          </li>
          <li ng-if="isAuthorized([userRoles.admin, userRoles.student])">
            <a ui-sref="editPlaylist">Edit Playlist</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ng-show="!isAuthorized([userRoles.admin, userRoles.student])">
            <a ui-sref="login">Login</a>
          </li>
          <li ng-show="isAuthorized([userRoles.admin, userRoles.student])">
            <a ui-sref="login" ng-click="logout()">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>