<div class="row">
  <div class="col-md-8">
    <h4>{{videoDetails[0].title}}</h4>
    <video ng-src="videos/{{videoDetails[0].source}}" ng-attr-poster="images/{{videoDetails[0].thumbnail}}" id="video" controls></video>
    <div class="controlsBox">
      <section>
        {{videoDetails[0].description}}
      </section>
    </div>
  </div>
  <div class="col-md-4">
    <div id="captionBox">
      <div id="display">
        <h2>Playlist</h2>
        <div ng-repeat="singleVideo in videosInPlaylist">
          <a ui-sref="playlist({playlistID: singleVideo.pId, videoID: singleVideo.vId})">
            <h4>{{singleVideo.title}}</h4>
            <img style="width: 100%" ng-src="images/{{singleVideo.thumbnail}}" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>