<div class="col-md-6 col-md-offset-3">
  <div ng-show="error" class="alert alert-danger">{{error}}</div>
  <h2>Register</h2>
  <form name="form" ng-submit="register(registerDetails)" role="form">
   <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" class="form-control" ng-model="registerDetails.email" required />
      <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
      <label for="Password">Password</label>
      <input type="password" name="password" id="password" class="form-control" ng-model="registerDetails.password" required />
      <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
      <label for="username">First name</label>
      <input type="text" name="firstName" id="firstName" class="form-control" ng-model="registerDetails.firstName" required />
       <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
      <label for="username">Last name</label>
      <input type="text" name="lastName" id="lastName" class="form-control" ng-model="registerDetails.lastName" required />
      <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
    </div>
    <div class="form-actions">
      <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Register</button>
      <a ui-sref="login">Cancel</a>
    </div>
  </form>
</div>