
 <div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Upload a video</h3>
    </div>
    <div class="panel-body">
      <form name="uploadForm" ng-submit="uploadVideo(videoDetails)" role="form">
        <div class="form-group" ng-class="{ 'has-error': uploadForm.title.$dirty && uploadForm.title.$error.required }">
          <label for="title">Name</label>
          <input type="text" name="title" id="title" class="form-control" ng-model="videoDetails.title" required />
          <span ng-show="uploadForm.title.$dirty && uploadForm.title.$error.required" class="help-block">Title is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': uploadForm.description.$dirty && uploadForm.description.$error.required }">
         <label for="description">Description</label>
         <textarea name="description" id="description" class="form-control" ng-model="videoDetails.description" style="height: 100px;" required></textarea>
         <span ng-show="uploadForm.description.$dirty && uploadForm.description.$error.required" class="help-block">Description is required</span>
        </div>
        <div class="form-group">
          <label for="video">Video:</label>
          <input type="file" ngf-select="" ngf-max-size="20MB" ngf-accept="'video/*'" ng-model="videoDetails.videoFile" name="videoFile" required>
        </div>
        <div class="form-group">
          <label for="thumbnail">Thumbnail:</label>
          <input type="file" ngf-select="" ngf-accept="'image/*'" ng-model="videoDetails.thumbnailFile" name="thumbnail" required>
        </div>
        <div class="form-group">
          <label for="captionfiles">Caption:</label><br />
          <div class="row">
            <div class="col-md-6">
              <input type="file" ngf-select="" ng-model="videoDetails.captionFileOne">
            </div>
            <div class="col-md-6">
             <label for="language"></label>
              <select ng-model="videoDetails.langOne" ng-options="item.language as item.language for item in languages | exclude:[videoDetails.langTwo]">
                <option value="">--Language--</option>
              </select>
            </div>
          </div>
          <div class="row top-buffer">
            <div class="col-md-6">
              <input type="file" ngf-select="" ng-model="videoDetails.captionFileTwo">
            </div>
            <div class="col-md-6">
             <label for="language"></label>
              <select ng-model="videoDetails.langTwo" ng-options="item.language as item.language for item in languages | exclude:[videoDetails.langOne]">
                <option value="">--Language--</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" ng-disabled="uploadForm.$invalid" class="btn btn-danger">Upload</button>
          <a ui-sref="main">Cancel</a>
        </div>
      </form>
      
    </div>
  </div>
</div>
<div class="col-md-6">
  Video Preview
  <video controls style="width: 100%" ngf-src="videoDetails.videoFile"></video>
  Thumbnail Preview
  <img style="width: 100%" ngf-thumbnail="videoDetails.thumbnailFile">
</div>