<div class="row">
  <div class="col-md-8">
    <h4>{{videoDetails[0].title}}</h4>
    <video ng-src="videos/{{videoDetails[0].source}}" ng-attr-poster="images/{{videoDetails[0].thumbnail}}" id="video" controls>
        <track ng-repeat="caption in captions" label="{{caption.language}}" src="captions/{{caption.source}}"> 
    </video>
    <div class="controls">
      <button id="playtrough" ng-show="!video.speed" class="customBtn" ng-click="video.toggleSpeed()" playthrough>2x</button>
      <button class="customBtn" ng-show="video.speed" ng-click="video.toggleSpeed()">Normal</button>
      <button class="customBtn" style="margin-right: 5px" ng-repeat="captionLang in captions">{{captionLang.language}}</button>
      <div class="pull-right">
        <button class="customBtn" ng-click="showAddVideoMenu()">Add Video</button>
        <button class="customBtn" ui-sref="editVideo({ vId: videoDetails[0].vId })">Edit Video</button>
      </div>
    </div>
    <div class="controlsBox">
      <section>
       <div id="display">
           <p></p>
       </div>
        {{videoDetails[0].description}}
      </section>
    </div>
    
  </div>
  <div class="col-md-4">
    <div id="captionBox">
      <div id="display">
        
        <div ng-show="successMsg" class="alert alert-success">
          {{successMsg}}
        </div>
        <div ng-show="errorMsg" class="alert alert-danger">
          {{errorMsg}}
        </div>
         
         <!-- spilleliste menyen vil vises når knappen "legg til video" er trykket på -->
        <div ng-show="videoMenu">
          <form name="repeatSelect" id="repeatSelect" name="addVideoToPlaylistForm">
            <label for="repeatSelect"> Select playlist: </label>
            <select class="form-control" ng-model="item">
              <option value="">---Select Playlist---</option> <!-- not selected / blank option -->
              <option ng-repeat="myPlaylist in myPlaylists" value="{{myPlaylist.pId}}">{{myPlaylist.title}}</option>
            </select>
          </form>
          <br>
          <button class="btn btn-primary" ng-click="addVideoToPlaylist(videoDetails[0].vId, item)">Add to playlist</button>
        </div>
        
         <div star-rating ng-model="rating1" max="5" on-rating-select="rateFunction(rating)"></div>
         Video Average: {{averageRating}}
      </div>
    </div>
  </div>
</div>